:root{
  --purple: #2F2C44;
  --white: #FFFFFF;
  --black: #0D0D0D;
  --blue: #006ADF;
  --font: 'Montserrat', sans-serif;
}
  #root{
  background-color: var(--purple);
  position: relative;
  width: auto;
  height: auto;
}
/* MOBILE VIEW */
.unstyle {
  all: unset;
}

/* BANNER */

.carrousel-title{
  position: absolute;
  color: var(--white);
  font-family: var(--font);
  font-weight: 700;
  font-size: 30px;
  top: 70%;
  left: 25%;
  transform: translate(-25%, -50%); 
}
.carrousel-parraph{
display: none;
position: absolute;
color: var(--white);
font-family: var(--font);
}

/* HOME */
.div-buttons-directions{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.header{
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header img{
  width: 55px;
  height: 55px;
  margin-top: 10px;
}

.titleCategories{
  font-family: var(--font);
  font-weight: 700;
  color: var(--white);
  margin-left: 20px;
  margin-top: 15px;
}
.movies-container{
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 0 20px;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
 
  /* display: grid;
  justify-content: space-around;
  gap: 1rem; */
}

::-webkit-scrollbar{
  display: none;
}

.movieDiv{
  margin-bottom: 15px;
}
.movieImage{
  width: 200px;
  height: 300px;
}
.movieImage:hover{
  cursor: pointer;
  transform: scale(1.01);
}

/* TABLET VIEW */
@media (min-width: 768px){
  .titleCategories{
    margin-left: 60px;
  }
    .movies-container{
      padding: 0 60px;
    }
/* BANNER */
.carrousel-title{
  font-weight: 700;
  font-size: 30px;
  top: 60%;
  left: 25%;
  transform: translate(-25%, -50%); 
}
.carrousel-parraph{
  display: initial;
  font-weight: 400;
  font-size: 15px;
  top: 80%;
  left: 30%;
  transform: translate(-25%, -50%);
}
  }


/* DESKTOP VIEW */
@media (min-width: 1020px){
  .movies-container{
    padding: 0 60px;
  }
/* BANNER */
.carrousel-title{
  font-size: 45px;
  top: 70%;
  left: 22%;
}
.carrousel-parraph{
  display: initial;
  font-size: 25px;
  top: 80%;
}
}