:root{
  --purple: #2F2C44;
  --white: #FFFFFF;
  --black: #0D0D0D;
  --blue: #006ADF;
  --font: 'Montserrat', sans-serif;
}
  #root{
  background-color: var(--purple);
  position: relative;
  width: auto;
  height: auto;
}
/* MOBILE VIEW */
/* HOME */
.header{
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header img{
  width: 55px;
  height: 55px;
  margin-top: 10px;
}

.titleCategories{
  font-family: var(--font);
  font-weight: 700;
  color: var(--white);
  margin-left: 20px;
  margin-top: 15px;
}
.movies{
  display: grid;
  justify-content: space-around;
  gap: 1rem;
}

.movieDiv{
  margin-bottom: 15px;
}
.movieImage{
  width: 200px;
  height: 300px;
}

/* TABLET VIEW */
@media (min-width: 768px){
  .movies{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

/* DESKTOP VIEW */
@media (min-width: 1020px){
  .movies{
    display: grid;  
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
  }
}